body{
    height: 100%;
    overflow: hidden;
    color: purple;
    background-color: rgb(33, 33, 33);
}

.wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hub-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
    background: black;
    color: white;
    padding: 5px;
}

footer{
    text-align: center;
    background: black;
    color: white;
    font-size: 11px;
    padding: 10px;
}